Bonjour {{ user.name }},<br />
<br />
Votre compte vient d'être créé sur l'intranet de formation.<br />
<br />
Pour vous connecter, rendez-vous à l'adresse suivante :
<a href="{{ url('login') }}">{{ url('login') }}</a><br />
- votre identifiant : {{ user.login }}<br />
- votre mot de passe : {{ user.password }}<br />
<br />
<br />
N'hésitez pas à me contacter pour tout problème.<br />
<br />
A bientôt !<br />
<br />
Fabien LOUIS<br />
contact@F2000.fr