<ul class="nav nav-sidebar">
    <li class="{% if app.request.attributes.get('_route') == 'bo_manager' %}active{% endif %}">
        <a href="{{ path('bo_manager') }}">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Vue d'ensemble
        </a>
    </li>
</ul>

<ul class="nav nav-sidebar">
    <li class="{% if app.request.attributes.get('_route') == 'bo_manage_users' %}active{% endif %}">
        <a href="{{ path('bo_user_manage') }}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Utilisateurs
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'bo_manage_trainings' %}active{% endif %}">
        <a href="{{ path('bo_training_manage') }}">
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>Formations
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'bo_manage_modules' %}active{% endif %}">
        <a href="{{ path('bo_module_manage') }}">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>Modules
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'bo_manage_categories' %}active{% endif %}">
        <a href="{{ path('bo_category_manage') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>Catégories
        </a>
    </li>
</ul>

<ul class="nav nav-sidebar">
    <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Maintenance</a></li>
</ul>